

* {
  box-sizing: border-box;
}

body{
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: graysale;
}

header{
  max-width: 100%;
}

img{
  max-width: 100%;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.flex-col{
  display: flex;
  flex-flow: column;
}

.center{
  text-align: center;
}

li, ul{
  list-style-type: none;
}

p{
  line-height: 1.6;
}

.nav-icon{
  width: 20px;
  height: 20px;
}

.shortener{
  width: 70%;
  height: 17rem;
  margin: auto;
  background: hsl(257, 27%, 26%);
  border-radius: 10px;
}

.shortener img{
  height: 17rem;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.form{
  width: inherit;
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
}

footer{
  width: 100%;
  bottom: 0;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  background: #232027;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: 200px;
}

.flex-col li{
  margin-left: -2rem;
}

.boost{
  position: relative;
  justify-content: center;
  justify-items: center;
  background: hsl(257, 27%, 26%);
  margin-bottom: -2.99rem;
  margin-top: 2rem;
  color: white;
}

.boost img{
  height: 17.2rem;
  width: 100%;
}
.boost-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen  and (max-width:  959px){
  .header{
    position: relative;
    margin: 2rem;
    max-width: 100%;
  }

  .div-nav{
    position: absolute;
    left: 5px;
    right: 5px;
    top: 35px;
    background: #4D3F68;
    color: white;
    text-align: center;
    margin: auto;
    border-radius: 0.2rem;
  }

  .form-input{
    display: flex;
    flex-flow: column;
  }

  footer{
    padding: 10px;
    grid-auto-rows: 170px;
  }
  
  footer section{
    margin-top: 1.3rem;
    height: 3.5rem;
  }

  .f-div1, .f-div2, .f-div3{
    margin-top: -7rem;
    height: 14rem;
  }

  .f-div4{
    margin-top: -3rem;
    height: 5.5rem;
  }

  
}

@media screen  and (min-width: 960px){
  .header{
    margin: 2rem;
  }

  .div-nav{
    flex-basis: 80%;
    border: 2px solid red;
  }

  nav, ul{
    display: flex;
  }
  ul{
    display: flex;
  }

  .menu{
    visibility: hidden;
  }

  .form-input{
    display: flex;
    flex-flow: row;
  }

  footer{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
  }

}
