

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: graysale;
}

header{
  max-width: 100%;
}

img{
  max-width: 100%;
}

.flex{
  display: flex;
  justify-content: space-between;
}

li, ul{
  list-style-type: none;
}

p{
  line-height: 1.6;
}

.nav-icon{
  width: 20px;
  height: 20px;
}

.shortener{
  width: 70%;
  height: 17rem;
  margin: auto;
  background: hsl(257, 27%, 26%);
  border-radius: 10px;
}

.shortener img{
  height: 17rem;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.form{
  width: inherit;
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
}

@media screen  and (max-width:  959px){
  .header{
    position: relative;
    margin: 2rem;
    max-width: 100%;
  }

  .div-nav{
    position: absolute;
    left: 5px;
    right: 5px;
    top: 35px;
    background: #4D3F68;
    color: white;
    text-align: center;
    margin: auto;
    border-radius: 0.2rem;
  }

  .form-input{
    display: flex;
    flex-flow: column;
  }
}

@media screen  and (min-width: 960px){
  .header{
    margin: 2rem;
  }

  .div-nav{
    flex-basis: 80%;
    border: 2px solid red;
  }

  nav, ul{
    display: flex;
  }
  ul{
    display: flex;
  }

  .menu{
    visibility: hidden;
  }

  .form-input{
    display: flex;
    flex-flow: row;
  }

}
